# Setup

In [1]:
import pandas as pd

from pathlib import Path

In [2]:
input_path = Path('/root/kaggle-projects/tabular-playground-march-21/input')

# Create S3 Datasets

In [14]:
out_dir = 's3://briorep-s3-ds/Aaron-temp/Projects-Personal/kaggle-tabular-playground-march-21/'

## Train

In [9]:
pd_train = pd.read_csv(input_path / 'train.csv')
display(pd_train.head(1))
print(pd_train.shape)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0

(300000, 32)

In [9]:
# Save to S3
(pd_train
 .drop('id', axis=1)
 .to_csv(out_der + 'train_no_index.csv')

## Test

In [10]:
pd_test = pd.read_csv(input_path / 'test.csv')
display(pd_test.head(1))
print(pd_test.shape)

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,5,A,F,A,A,F,BI,A,AH,AX,...,0.73569,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489

(200000, 31)

In [15]:
# Save to S3
(pd_test
 .drop('id', axis=1)
 .to_csv(out_dir + 'test_no_index.csv'))