# Setup

In [63]:
import imp
import numpy as np
import pandas as pd
import sagemaker

from pathlib import Path

imp.load_source('config', './config.py')
import config

In [64]:
# Read test dataset
pd_test = pd.read_csv(Path(config.input_path) / 'test.csv', index_col='id')
display(pd_test.head(1))

,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,cat9,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
id,,,,,,,,,,,,,,,,,,,,,
5,A,F,A,A,F,BI,A,AH,AX,A,...,0.73569,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489

In [65]:
# Temp
pd_test = pd.read_csv(Path(config.input_path) / 'test.csv')
pd_test['id'] = np.nan
display(pd_test.head(1))

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont1,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10
0,NaN,A,F,A,A,F,BI,A,AH,AX,...,0.73569,0.578366,0.723154,0.228037,0.356227,0.551249,0.655693,0.598331,0.359987,0.947489

In [66]:
# Read submission dataset
pd_submission = pd.read_csv(Path(config.input_path) / 'sample_submission.csv', index_col='id')
display(pd_submission.head(1))

    target
id
5      0.5

# Inference

In [67]:
# Create predictor
predictor = sagemaker.predictor.Predictor(
    endpoint_name=config.endpoint_name,
    serializer=sagemaker.serializers.CSVSerializer(),
    deserializer=sagemaker.deserializers.CSVDeserializer())

In [84]:
response = predictor.predict(pd_test.head().values)

In [85]:
srs_scores = pd.Series([float(i[0]) for i in response])

# Predictions

In [87]:
#pd_submission['target'] = srs_scores.values
#submission.to_csv('random_forest.csv')

# Clean Up